<nav class="navbar navbar-expand-lg main d-flex justify-content-between fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Home'," ", class: 'nav-link'%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Successfull</a></li>
            <li><a class="dropdown-item" href="#">Sample</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Prospoctal projects
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Small business</a></li>
            <li><a class="dropdown-item" href="#">SBIR proposal</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SAM</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fundsf for
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">STTR</a></li>
            <li><a class="dropdown-item" href="#">NSF</a></li>
            <li><a class="dropdown-item" href="#">NASA</a></li>
            <li><a class="dropdown-item" href="#">Department of Enay</a></li>
            <li><a class="dropdown-item" href="#">Department of Defense</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class='first'>
  <div class='main2'>
    <h3>HELLOO, I AM</h3>
    <h2>UMAR DOWOOD KHATAK</h2>
    <p>A GRANT PROPOSAL WRITER</p>
  </div>
</div>
<h2 class='proto'>Protofolio</h2>
<div class='intro container-fluid'>
  <div class='intro2 shadow p-3 mb-5 bg-body rounded'>
    <h5>WHO AM I ?</h5>
    <div class='content mt-5'>
      <p class='pra'>I am a Grant Proposal Writer with over 10 years of experience.</p>
      <p class='para2'>I write and develop the best technically responsive proposals that win.</p>
      <div class='mt-5'>
        <%= link_to 'My Resume','', class: 'bttn' %>
      </div>
    </div>
  </div>
  <div class='intro2 shadow p-3 mb-5 bg-body rounded'>
    <h5>PERSONAL INFO</h5>
    <div class='content mt-5'>
      <p><b>Date of Birth:</b><span class='pdata'>7 April, 1989</span></p>
      <p><b>Address:</b><span class='pdata'>Kabul Afghanistan Lahore Pakistan </span></p>
      <p><b>Email:</b><span class='pdata'>daudumarkhattak@gmail.com </span></p>
      <p><b>Phone:</b><span class='pdata'>+1 (817) 440-4609</span></p>
      <p><b>Whatsapp:</b><span class='pdata'>+92 316 195 6070 </span></p>
      <p><b>Linkdin:</b><span class='pdata'>https://www.linkedin.com/in/umardaud/</span></p>
    </div>
  </div>
  <div class='intro2 shadow p-3 mb-5 bg-body rounded'>
    <div class='expert'>
      <h5 class='experth'>MY EXPERTIES</h5>
      <div class='content2 mt-4'>
        <div class='icons'>
          <ul>
          <li><%= image_tag ('project.png') %></li>
          <li><%= image_tag ('tech.png') %></li>
          <li><%= image_tag ('fund.png') %></li>
          <li><%= image_tag ('plan.png') %></li>
          <li><%= image_tag ('bussiness.png') %></li>
          </ul>
        </div>
        <div class='data'>
          <ul>
            <li>Proposal Writing</li>
            <li>SBIR grant application</li>
            <li>NSF seed funding application</li>
            <li>Project Coordinator</li>
            <li>Business Development</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='resume'>
  <h1><span class='head1'>MY</span> Resume</h1>
  <div class='container'>
    <div class='row'>
      <div class='education col'>
        <div class='education1'>
          <div class='cardhead'>
            <h5>Education</h5>
          </div>
          <div class='cardbody'>
            <p class='date'>
              2007 - 2009
            </p>
            <p class='para-head'>
              Islamabad College of Accounts and Finance (IsCAF), Islamabad — CA Module A
            </p>
            <p class='para-data'>
              I studied Accounting and Finance, a non-degree program at the college.
            </p>
            <hr>
            <p class='date'>
              2005 - 2007
            </p>
            <p class='para-head'>
              Fauji Foundation College for Boys, Rawalpindi — Intermediate (Pre-Medical)
            </p>
            <p class='para-data'>
              I studied at the premier School, Fauji Foundation College for Boys, New Lalazar, Rawalpindi Cantt. and secured 800 out of 1,100 marks from Pakistan’s federal board.
            </p>
          </div>
        </div>
        <div class='projects'>
          <div class='cardhead'>
            <h5>Projects</h5>
          </div>
          <div class='cardbody'>
            <p class='date'>
              2017 - 2020
            </p>
            <p class='para-head'>
              DoS Debates on Key Issues; Preparing Afghan Population for Elections — US$ 1 million project
            </p>
            <p class='para-data'>
              I wrote and developed the technical and financial proposal for the US department of state project “Debates on Key Issues; Preparing Afghan Population for Elections” which got awarded for 3 years.  This project aimed at promoting critical thinking, fostering a debate culture, and increasing awareness about elections to enable citizens of Afghanistan to make informed voting decisions and increase voter turnover.
            </p>
            <hr>
            <p class='date'>
              2016 – 2020
            </p>
            <p class='para-head'>
              Citizens Chartered Afghanistan Program [CCAP] from MRRD/World Bank—US$ 5 Million project
            </p>
            <p class='para-data'>
              I developed this project proposal from scratch with little help from other     colleagues in the year 2016. It was a world bank funded project implemented through the Afghan ministry of rural rehabilitation and development..
            </p>
            <hr>
            <p class='date'>
              2014 – 2015
            </p>
            <p class='para-head'>
              WHH Irrigation Canal Construction Project —€  0.5 Million
            </p>
            <p class='para-data'>
              An Irrigation canal construction project worth half a million euros was awarded to my employer based on the project proposal that I developed primarily from scratch with little or no help from colleagues.
            <hr>
            <p class='date'>
              2014 - 2015
            </p>
            <p class='para-head'>
              MoLSAMD, Afghanistan Social Protection Program (ASPP) — US$ 150,000
            </p>
            <p class='para-data'>
              A project providing a safety net and pension support to the persons of concern. I drafted, developed, and gathered the data and analytics, researched from primary and secondary sources, and assembled the information in a meaningful way to address the objectives put forth under the project requirements. I developed its technical and financial parts, logical framework analysis, work plan, and compiled the procedures and policies, and other key assessment documents to pass the due diligence process.
            </p>
          </div>
        </div>
      </div>
      <div class='experience col'>
        <div class='cardhead'>
          <h5>Experience</h5>
        </div>
        <div class='cardbody m-4'>
          <p class='date'>
            May 2017 - September 2018
          </p>
          <p class='para-head'>
            Afghanistan Rehabilitation and Education Program (AREP) Kabul — Organization Development Officer
          </p>
          <p class='para-data'>
            Searched the Internet and websites for new tenders, RFPs, RFAs, RFQs, EOIs, etc. on numerous sites like <a href='https://www.acbar.org/'>acbar.org</a>.Conducted Reading and Understanding the requirements of RFPS, RFQs, etc. and then preparing response technical proposals in accordance with the requirements written in the Request for Proposals.
          </p>
          <hr>
          <p class='date'>
            May 2016 - Feb 2017
          </p>
          <p class='para-head'>
            BBC Monitoring, Mazar Sharif — Independent Contractor
          </p>
          <p class='para-data'>
            Translated, analyzed, and summarized news items, articles, analyses, and opinions from Pashto /Dari newspapers and media to English.
          </p>
          <hr>
          <p class='date'>
            June 2013 - July 2015
          </p>
          <p class='para-head'>
            Afghanistan National Reconstruction Coordination (ANCC), Kabul — Organization Development Manager
          </p>
          <p class='para-data'>
            Analyzed and Processed the raw data – developed project designs and concept notes. Meet and find new donors, take   appointments and introduce   ANCC's Activities and Strategic Goals.
          </p>
          <hr>
          <p class='date'>
            November 2012 - March 2013
          </p>
          <p class='para-head'>
            Oriental Consultants  (OC), Kabul — Proposal Writer
          </p>
          <p class='para-data'>
            As a proposal writer and concept development officer working directly with the Managing  Director on the assignments of several customers simultaneously, I learned insight into developing innovative ideas and concepts to put in proposals while polishing my already existing writing skills.Being with Oriental Consultants for just 5 months, I worked on approximately 30 assignments of different natures including Proposals, Concept Papers, Annual Reports, and Company Profiles.
          </p>
          <hr>
          <p class='date'>
            September 2011 - March  2012
          </p>
          <p class='para-head'>
            ProTech Ltd., Kabul — Proposal Writer
          </p>
          <p class='para-data'>
            Conducted writing innovative ideas and developing and writing new concepts; compiling them as Concept Papers or Unsolicited Proposals.Conducted organizing, refreshing, and updating the Company Profile and Services.
          <hr>
          <p class='date'>
            June 2011 - October 2012
          </p>
          <p class='para-head'>
            Aura Consulting Services Co., Kabul — Proposal Writer
          </p>
          <p class='para-data'>
            I was learning to write proposals and grants under the mentorship of my seniors from foreign.
          </p>
          <hr>
          <p class='para-head'>
            Afghanistan Rehabilitation and Education Program:
          </p>
          <p class='para-data'>
            Project Management, Networking, and Coordination, Capacity building, financial sustainability for 2 years
          </p>
          <hr>
          <p class='para-head'>
            Afghanistan National Re-Construction Coordination:
          </p>
          <p  class='para-data'>
            Project Management, Proposal/Organization Development for 3 years
          </p>
        </div>
      </div>

      <div class='third-card col'>
        <div class='statement'>
          <div class='cardhead'>
            <h5>Personal Statements</h5>
          </div>
          <div class='cardbody'>
            <p class='para-data'>
              Experienced proposal and grant writer with more than 10  years of experience in the non-profit development sector with a track record of successful and winning proposals with different international donors and government agencies
            </p>
            <hr>
            <p class='para-data'>
              Specialized    experience working  on   US federal  grants for Afghanistan and Pakistan
            </p>
            <hr>
            <p class='para-data'>
              I write, prepare and develop the  best technically responsive proposals /grants with attention to details that guarantee awards and secure funds.
            </p>
            <hr>
            <p class='para-data'>
              I am also experienced in writing SBIR grant applications for small businesses in the US
            </p>
            <hr>
            <p class='para-data'>
              I write Seed grant proposals for NSF on behalf of small businesses in the US
            </p>
          </div>
        </div>
        <div class='languages'>
          <h5>Languages</h5>
          <div class='language1 mt-3'>
            <div class='eng'>
              <h6>English</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='language1 mt-3'>
            <div class='urdu'>
              <h6>Urdu</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
            <div class='language1 mt-3'>
            <div class='pashto'>
              <h6>Pashto</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
            <div class='language1 mt-3'>
            <div class='Dari'>
              <h6>Dari</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
          <div class='skill'>
          <h5>Skills</h5>
          <div class='skill1 mt-3'>
            <div class='eng'>
              <h6>Grant Writing</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='urdu'>
              <h6>Proposal Writing</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='pashto'>
              <h6>Article Writing</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6>Content Writing</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6>Report Writing</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6>Technical  Proposals</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6>Financial Proposals</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6>Budget Narratives,</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6>Project Design</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6>Project Management/Implementation</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6> Donor Liaison  and Government Alliances </h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6> Project Monitoring/Evaluation</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar"  aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6>Business Development</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6>Social Media Development</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class='skill1  mt-3'>
            <div class='Dari'>
              <h6>Organization Development</h6>
            </div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"  style="width:94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container second-card'>
  <div class='row'>
    <div class='col highlight shadow p-3 mb-5 bg-body rounded'>
      <div class='cardhead'>
        <h5>Highlights</h5>
      </div>
      <div class='cardbody m-5'>
        <p class='para-data'>
          Aura Consulting Services and Co. Technical Writing for 1 year
        </p>
        <hr>
        <p class='para-data'>
          Oriental Consultants Co. Technical and Business Writing for 1 year
        </p>
        <hr>
        <p class='para-data'>
          Afghanistan National Re-Construction Coordination: Project Management, Proposal/Organization Development for 3 years
        </p>
        <hr>
        <p class='para-data'>
          BBC Monitoring Services: Writing and Translations, Communication and Strategy for 1 year
        </p>
        <hr>
        <p class='para-data'>
          Afghanistan Rehabilitation and Education Program: Project Management, Networking, and Coordination, Capacity building, financial sustainability for 2 years
        </p>
      </div>
    </div>
    <div class='refrences shadow p-3 mb-5 bg-body rounded col'>
      <div class='card-head mt-4'>
        <h5>References</h5>
      </div>
      <div class='card-body m-5'>
        <p class='para-data'>
          Mr. Farhad Karimy, Deputy Country Director ANCC <br>
          <span class='phone'><%= image_tag ('call.png') %>+93 70 032 7448</span>
        </p>
        <hr>
        <p class='para-data'>
          Eng. Amanullah Aman, Executive Director AREP  <br>
          <span class='phone'><%= image_tag ('call.png') %>+93 70 028 3859</span>
        </p>
        <hr>
        <p class='para-data'>
          Mr. Jamil, BBCM Zonal Coordinator for South and Central Asia <br>
          <a href='https://www.linkedin.com/in/jamil-burnaasefi-9055783b/?originalSubdomain=uk'>jamil.Burna-Asefi3@mon.bbc.co.uk</a><br>
          <span class='phone'><%= image_tag ('call.png') %>+93 70 028 3859</span>
        </p>
        <hr>
      </div>
    </div>
  </div>
<div>

<div class="second">
  <h3>MY SERVICES</h3>
  <p> I write and develop the best technically responsive proposals that win. I take responsibility and ownership for the full contract and or grant cycle — from researching relevant opportunities that align with the client’s mandate, to preliminary querying the contact persons, drafting the initial concept, letter of intent, pre-application, or the white paper, and subsequent full proposal submission. </p>
</div>
<div class="services row">
  <div class='service1 shadow p-4 mb-5 bg-body rounded col text-center'>
    <%= image_tag ('grants.png') %>
    <h4 class='mt-3'>Writting Grants</h4>
    <p class="para">I am used to grants.gov and sam.gov as I often submit grant proposals via these websites. I am also a third-party administrator for several entities on sam.gov and I manage their SAM registrations annually.</p>
  </div>
  <div class='service1 shadow p-4 mb-5 bg-body rounded col text-center'>
    <%= image_tag ('proposal.png') %>
    <h4 class='mt-3'>U.S Proposal</h4>
    <p class="para">I am specifically good with SBIR proposals for small businesses in the US, seed funding from the NSF for small businesses, and pitching concept papers, ideas, and proposals. </p>
  </div>
  <div class='service1 shadow p-4 mb-5 bg-body rounded col text-center'>
    <%= image_tag ('business.jpg') %>
    <h4 class='mt-3'>Women Supporter</h4>
    <p class="para">An introduction is the first paragraph of your paper. The goal of your introduction is to let your reader know the topic of the paper and what points will be made about the topic.</p>
  </div>
  <div class='service1 shadow p-4 mb-5 bg-body rounded col text-center'>
    <%= image_tag ('fund.webp') %>
    <h4 class='mt-3'>Fund Raising</h4>
    <p class="para">I am experienced in capture management and strategy to win more funding for an organization or a company.</p>
  </div>
</div>
<div class='third'>
  <div class='content'>
    <h3>I Am Available For FreeLance</h3>
    <%= link_to 'Hire me'," ", class: 'hire p-2 btn mb-4' %>
  </div>
</div>
<div class='forth'>
  <h3>Fun Fact</h3>
  <div class='row mt-4'>
    <div class='col forth-card'>
      <div class='fun-body border border-2 rounded'>
        <div class='fund-img'>
          <%= image_tag ('dollar.png') %>
        </div>
        <div class='fund-content'>
          <h5 class='mb-0'>US dollar</h5>
          <p>Work Rate</p>
        </div>
      </div>
    </div>
    <div class='col forth-card'>
     <div class='fun-body border border-2 rounded'>
        <div class='fund-img'>
          <%= image_tag ('hour.png') %>
        </div>
        <div class='fund-content'>
          <h5 class='mb-0'>24</h5>
          <p>Working Hours</p>
        </div>
      </div>
    </div>
    <div class='col forth-card'>
     <div class='fun-body border border-2 rounded'>
        <div class='fund-img'>
          <%= image_tag ('success.png') %>
        </div>
        <div class='fund-content'>
          <h5 class='mb-0'>100%</h5>
          <p>Success Rate</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='end'>
  <div class='container pt-3 pb-2'>
    <p>Please email <span class='email'>daudumarkhattak@gmail.com</span> for collaboration.</p>
  </div>
</div>
